<app-content
    header="Contact character"
    text="Character name-realm for boosters to whisper, typically the character you're currently on"
>
    <div class="grid-x grid-margin-x">
        <div class="cell small-4">
            <label for="name">Name</label>
            <input id="name" type="text" />
        </div>
        <div class="cell small-4">
            <label for="realm">Realm</label>
            <select id="realm">
                <option *ngFor="let option of realms">{{ option }}</option>
            </select>
        </div>
    </div>
</app-content>

<app-content header="Source of client" text="Where you found the client">
    <div class="cell small-4">
        <label for="source">Source</label>
        <select id="source">
            <option>Trade chat</option>
            <option>Ticket in-house</option>
            <option>Ticket client</option>
            <option>Discord</option>
        </select>
    </div>
</app-content>

<app-content
    header="Source of payment(s)"
    text="The amount(s) and realm(s) the client has paid on"
>
    <div class="cell small-12">
        <div
            *ngFor="let payment of payments; let index = index; let last = last"
        >
            <div class="grid-x grid-margin-x">
                <div class="cell small-5">
                    <label [for]="index + '-amount'">Amount</label>
                    <input
                        [id]="index + '-amount'"
                        type="text"
                        (change)="total()"
                        (change)="update(payment)"
                    />
                </div>
                <div class="cell small-5">
                    <label [for]="index + '-realm'">Realm</label>
                    <select [id]="index + '-realm'">
                        <option *ngFor="let option of realms">
                            {{ option }}
                        </option>
                    </select>
                </div>
                <div class="cell small-2">
                    <i
                        *ngIf="payments.length > 1"
                        (click)="removePaymentRow(payment)"
                        class="fas fa-minus"
                    ></i>
                    <i
                        *ngIf="last && payments.length < 4"
                        (click)="addPaymentRow()"
                        class="fas fa-plus"
                    ></i>
                    <i *ngIf="!last" class="fas fa-plus" style="opacity: 0"></i>
                    <i
                        *ngIf="!last"
                        (click)="addPaymentRow()"
                        class="fas fa-plus"
                        style="opacity: 0"
                    ></i>
                </div>
            </div>
        </div>
    </div>
</app-content>

<app-content header="From balance" text="Amount paid from balance, if any">
    <div class="cell small-12">
        <div class="grid-x grid-margin-x">
            <div class="cell small-5">
                <label>Amount</label>
                <input type="text" (change)="total()" />
            </div>
        </div>
    </div>
</app-content>

<app-content
    header="Adv cut discount"
    text="If you have given a discount from your cut"
>
    <div class="cell small-12">
        <div class="grid-x grid-margin-x">
            <div class="cell small-5">
                <label>Amount</label>
                <input type="text" (change)="total()" />
            </div>
        </div>
    </div>
</app-content>

<app-content header="Total pot">
    <div class="cell small-5">
        <p>{{ totalPot }}</p>
    </div>
</app-content>

<app-content header="Bought key(s)" text="The key(s) that the client purchased">
    <div class="cell small-12">
        <div *ngFor="let key of keys; let index = index; let last = last">
            <div class="grid-x grid-margin-x">
                <div class="cell small-5">
                    <label [for]="index + '-amount'">Key</label>
                    <input
                        [id]="index + '-amount'"
                        type="text"
                        (change)="total()"
                        (change)="update(payment)"
                    />
                </div>
                <div class="cell small-5">
                    <label [for]="index + '-realm'">Realm</label>
                    <select [id]="index + '-realm'">
                        <option *ngFor="let option of realms">
                            {{ option }}
                        </option>
                    </select>
                </div>
                <div class="cell small-2">
                    <i
                        *ngIf="keys.length > 1"
                        (click)="removeKeyRow(key)"
                        class="fas fa-minus"
                    ></i>
                    <i
                        *ngIf="last && keys.length < 4"
                        (click)="addKeyRow()"
                        class="fas fa-plus"
                    ></i>
                    <i *ngIf="!last" class="fas fa-plus" style="opacity: 0"></i>
                    <i
                        *ngIf="!last"
                        (click)="addKeyRow()"
                        class="fas fa-plus"
                        style="opacity: 0"
                    ></i>
                </div>
            </div>
        </div>
    </div>
</app-content>

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->

<!-- <app-content header="Creating new boost"> Hello I'm lazy Lohan </app-content> -->
