<app-content header="Creating new boost">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12">Contact character</div>
        <div class="cell small-4">
            <label for="name">Name</label>
            <input id="name" type="text" />
        </div>
        <div class="cell small-4">
            <label for="realm">Realm</label>
            <select id="realm">
                <option *ngFor="let option of realms">{{ option }}</option>
            </select>
        </div>
        <div class="cell small-4">
            <label for="source">Source</label>
            <select id="source">
                <option>Trade chat</option>
                <option>Ticket in-house</option>
                <option>Ticket client</option>
                <option>Discord</option>
            </select>
        </div>
        <div class="cell small-12">
            <div
                *ngFor="
                    let payment of payments;
                    let index = index;
                    let last = last
                "
            >
                <div class="grid-x grid-margin-x">
                    <div class="cell small-5">
                        <label [for]="index + '-amount'">Amount</label>
                        <input [id]="index + '-amount'" type="text" />
                    </div>
                    <div class="cell small-5">
                        <label [for]="index + '-realm'">Realm</label>
                        <select [id]="index + '-realm'">
                            <option *ngFor="let option of realms">
                                {{ option }}
                            </option>
                        </select>
                    </div>
                    <div class="cell small-2">
                        <i
                            *ngIf="payments.length > 1"
                            (click)="remove(payment)"
                            class="fas fa-minus"
                        ></i>
                        <i
                            *ngIf="last && payments.length < 5"
                            (click)="addPaymentRow()"
                            class="fas fa-plus"
                        ></i>
                        <i
                            *ngIf="!last"
                            class="fas fa-plus"
                            style="opacity: 0"
                        ></i>
                        <i
                            *ngIf="!last"
                            (click)="addPaymentRow()"
                            class="fas fa-plus"
                            style="opacity: 0"
                        ></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-content>
