<div class="grid-x grid-margin-x">
    <div class="cell small-12">
        <app-content header="Creating Boost"
                     [actions]="actions" (actionChange)="onAction($event)">
        </app-content>
    </div>
    <div class="cell small-12 large-6">
        <app-content header="Contact Character" tooltipText="Character name-realm for boosters to whisper">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 large-4">
                    <label for="name" required="required">Name</label>
                    <input id="name" type="text" [(ngModel)]="entity.boost.name" placeholder="Contact character name"/>
                </div>
                <div class="cell small-12 large-4">
                    <label for="realm" required="required">Realm</label>
                    <app-form-select id="realm" [items]="realms" [(value)]="entity.boost.realm"></app-form-select>
                </div>
                <div class="cell small-12 large-4">
                    <label for="source" required="required">Source</label>
                    <app-form-select id="source" [items]="context.sources"
                                     [(value)]="entity.boost.source"></app-form-select>
                </div>
            </div>
        </app-content>
    </div>
    <div class="cell small-12 large-6">
        <app-content header="Play Along"
                     tooltipText="If you wish to play along in the key(s), if will be keyholder ignore this">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 large-4 balance-switch">
                    <div class="toggle-container">
                        <label class="toggle-control">
                            <input type="checkbox"
                                   [checked]="entity.playAlong.isPlaying"
                                   (change)="entity.playAlong.isPlaying = !entity.playAlong.isPlaying">
                            <span class="control"></span>
                        </label>
                        <span>Are you playing along?</span>
                    </div>
                </div>
                <div class="cell small-12 large-8" *ngIf="entity.playAlong.isPlaying">
                    <label for="advertiser-role">Role</label>
                    <app-form-select id="advertiser-role" [items]="context.roles"
                                     [(value)]="entity.playAlong.role"></app-form-select>
                </div>
            </div>
        </app-content>
    </div>
    <div class="cell small-12 large-7">
        <app-content header="Payments">
            <div class="grid-x grid-margin-x" *ngFor="let item of entity.payments; let index = index">
                <div class="cell small-12 large-3">
                    <label [for]="index + '-payment-realm'">Realm</label>
                    <app-form-select [items]="realms" [(value)]="item.realm"></app-form-select>
                </div>
                <div class="cell small-12 large-3" *ngIf="context.isTrialAdvertiser">
                    <label [for]="index + '-payment-collector'"
                           [attr.required]="context.isTrialAdvertiser">Collector</label>
                    <app-form-select [items]="context.collectors" [(value)]="item.collector"></app-form-select>
                </div>
                <div class="cell small-12 large-2">
                    <label [for]="index + '-payment-amount'">Amount</label>
                    <input [id]="index + '-payment-amount'" type="number" [(ngModel)]="item.amount"
                           placeholder="Amount"/>
                </div>
                <div class="cell small-12 large-2">
                    <label [for]="index + '-payment-faction'">Faction</label>
                    <app-form-select [items]="context.factions" [(value)]="item.faction"></app-form-select>
                </div>
                <div class="cell small-12 large-2">
                    <span class="payment-option" (click)="onAddPaymentRow(index)"><em
                        class="fas fa-plus big-icon"></em></span>
                    <span class="payment-option" (click)="onRemovePaymentRow(item)"
                          [attr.disabled]="entity.payments.length === 1"><em
                        class="big-icon fas fa-minus"></em></span>
                </div>
            </div>
            <hr/>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 large-4">
                    <label for="payment-discount">
                        Discount
                        <span
                            tooltip="How much in gold have been discounted if any"
                            tooltip-position="top"
                        >
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </label>
                    <input id="payment-discount" type="number" placeholder="Discount"
                           [(ngModel)]="entity.boost.discount"/>
                </div>
                <div class="cell small-12 large-4 balance-switch">
                    <div class="toggle-container">
                        <label class="toggle-control">
                            <input type="checkbox"
                                   [checked]="entity.balancePayment >= 0"
                                   (change)="entity.balancePayment = entity.balancePayment >= 0 ? -1 : 0">
                            <span class="control"></span>
                        </label>
                        <span>Is any payment from balance?</span>
                    </div>
                </div>
                <div class="cell small-12 large-4" *ngIf="entity.balancePayment >= 0">
                    <label for="payment-balance">Amount from balance</label>
                    <input id="payment-balance" type="number" [ngModel]="entity.balancePayment"
                           placeholder="Payment from balance"
                           (ngModelChange)="entity.balancePayment = $event < 0 ? 0 : $event"/>
                </div>
            </div>
        </app-content>
    </div>
    <div class="cell small-12 large-5">
        <app-content header="Boost Information">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 large-4">
                    <label>Armor Stack</label>
                    <div class="grid-x grid-margin-x grid-margin-y">
                        <div class="cell small-4 large-6">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.armor.cloth"
                                           (change)="entity.boost.armor.cloth = !entity.boost.armor.cloth; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Cloth</span>
                            </div>
                        </div>

                        <div class="cell small-4 large-6">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.armor.leather"
                                           (change)="entity.boost.armor.leather = !entity.boost.armor.leather; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Leather</span>
                            </div>
                        </div>

                        <div class="cell small-4 large-6">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.armor.mail"
                                           (change)="entity.boost.armor.mail = !entity.boost.armor.mail; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Mail</span>
                            </div>
                        </div>

                        <div class="cell small-4 large-6">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.armor.plate"
                                           (change)="entity.boost.armor.plate = !entity.boost.armor.plate; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Plate</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 large-8">
                    <label>Class Stack</label>
                    <div class="grid-x grid-margin-x grid-margin-y">
                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.mage"
                                           (change)="entity.boost.class.mage = !entity.boost.class.mage; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Mage</span>
                            </div>
                        </div>

                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.warlock"
                                           (change)="entity.boost.class.warlock = !entity.boost.class.warlock; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Warlock</span>
                            </div>
                        </div>

                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.priest"
                                           (change)="entity.boost.class.priest = !entity.boost.class.priest; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Priest</span>
                            </div>
                        </div>

                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.druid"
                                           (change)="entity.boost.class.druid = !entity.boost.class.druid; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Druid</span>
                            </div>
                        </div>

                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.demonHunter"
                                           (change)="entity.boost.class.demonHunter = !entity.boost.class.demonHunter; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Demon Hunter</span>
                            </div>
                        </div>

                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.monk"
                                           (change)="entity.boost.class.monk = !entity.boost.class.monk; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Monk</span>
                            </div>
                        </div>

                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.rogue"
                                           (change)="entity.boost.class.rogue = !entity.boost.class.rogue; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Rogue</span>
                            </div>
                        </div>

                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.shaman"
                                           (change)="entity.boost.class.shaman = !entity.boost.class.shaman; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Shaman</span>
                            </div>
                        </div>

                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.hunter"
                                           (change)="entity.boost.class.hunter = !entity.boost.class.hunter; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Hunter</span>
                            </div>
                        </div>

                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.warrior"
                                           (change)="entity.boost.class.warrior = !entity.boost.class.warrior; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Warrior</span>
                            </div>
                        </div>

                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.paladin"
                                           (change)="entity.boost.class.paladin = !entity.boost.class.paladin; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Mage</span>
                            </div>
                        </div>

                        <div class="cell small-4">
                            <div class="toggle-container">
                                <label class="toggle-control">
                                    <input type="checkbox"
                                           [checked]="entity.boost.class.deathKnight"
                                           (change)="entity.boost.class.deathKnight = !entity.boost.class.deathKnight; updateApplicableBoosters()">
                                    <span class="control"></span>
                                </label> <br/>
                                <span>Death Knight</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-12">
                    <label for="boost-class-note">Note</label>
                    <input id="boost-class-note" type="text" [(ngModel)]="entity.boost.note"/>
                </div>
            </div>
        </app-content>
    </div>
    <div class="cell small-12">
        <app-content header="Keys">
            <div class="grid-x grid-margin-x" *ngFor="let item of entity.keys; let index = index">
                <div class="cell small-12 large-2">
                    <label [for]="index + '-key-dungeon'" required="required">Dungeon</label>
                    <app-form-select [id]="index + '-key-dungeon'" [items]="dungeons"
                                     [(value)]="item.dungeon"
                                     (valueChange)="item.level = null; onKeyChange(item)"></app-form-select>
                </div>
                <div class="cell small-12 large-2">
                    <label [for]="index + '-key-level'" required="required">Level</label>
                    <app-form-select *ngIf="item.dungeon" [items]="index + '-key-level'"
                                     [items]="item.dungeon.value.levels" [value]="item.level"
                                     (valueChange)="item.level = $event; onKeyChange(item)"></app-form-select>
                </div>
                <div class="cell small-12 large-1 balance-switch">
                    <div class="toggle-container">
                        <label class="toggle-control">
                            <input type="checkbox"
                                   [disabled]="item.isTimedDisabled"
                                   [checked]="item.isTimed"
                                   (change)="item.isTimed = !item.isTimed; onKeyChange(item)">
                            <span class="control"></span>
                        </label>
                        <span>Timed</span>
                    </div>
                </div>
                <div class="cell small-12 large-2">
                    <label [for]="index + '-key-realm'" [attr.required]="isMultipleSpecifics ? 'required' : ''">Keyholder</label>
                    <app-form-select [items]="item.availableBoosters" [(value)]="item.keyHolder.user"></app-form-select>
                </div>
                <div class="cell small-12 large-2">
                    <label [for]="index + '-key-role'"
                           [attr.required]="isMultipleSpecifics ? 'required' : ''">Role</label>
                    <app-form-select [id]="index + '-key-role'" [items]="context.roles"
                                     [(value)]="item.keyHolder.role"></app-form-select>
                </div>
                <div class="cell small-12 large-3">
                    <span class="payment-option" (click)="onAddKeyRow(index)"
                          [attr.disabled]="entity.keys.length >= 4"><em
                        class="fas big-icon fa-plus"></em></span>
                    <span class="payment-option" (click)="onRemoveKeyRow(item)"
                          [attr.disabled]="entity.keys.length === 1"><em
                        class="fas big-icon fa-minus"></em></span>
                </div>
            </div>
        </app-content>
    </div>
</div>
