<app-pagination [total]="pagination?.total" [page]="pagination?.page"
                [useCallback]="true"
                (onPageChange)="onPageChange($event)"></app-pagination>
<div class="grid-x grid-margin-x">
    <div class="cell small-12 large-3">
        <input placeholder="Search..." type="text" [(ngModel)]="search" (ngModelChange)="onSearchChange(1)"/>
    </div>
</div>

<app-table [headers]="headers" [rows]="rows" (actionChange)="onAction($event)"></app-table>

<app-pagination [total]="pagination?.total" [page]="pagination?.page"
                [useCallback]="true"
                (onPageChange)="onPageChange($event)"></app-pagination>
