<table>
    <thead>
    <th *ngFor="let header of headers">{{header.label}}</th>
    <th *ngIf="doAnyRowHaveActions" class="actions">Actions</th>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows">
        <td *ngFor="let cell of row.cells">
            {{cell.label}}
        </td>

        <td *ngIf="row.actions && row.actions.length > 0" class="actions">
            <button *ngFor="let action of row.actions" [style]="{ background: action.buttonClass }"
                    (click)="actionChange.emit({ row: row, action: action })">
                <i [class]="action.icon"></i> {{action.label}}
            </button>
        </td>
    </tr>
    </tbody>
</table>
