<div class="title">
    <span>{{ header }}</span>
    <span
        class="info"
        *ngIf="tooltipText"
        [attr.tooltip]="tooltipText"
        tooltip-position="top"
    >
        <i class="fas fa-info-circle"></i>
    </span>

    <span *ngIf="actions.length > 0" class="buttons">
        <button *ngFor="let action of actions" [style]="{ background: action.color }"
                (click)="action.link ? onLink(action) : onAction.emit(action)">
                <i [class]="action.icon"></i> {{action.label}}
            </button>
    </span>
</div>

<div class="content">
    <span><ng-content></ng-content></span>
</div>
