:host {
    display: block;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #0b0d0e;
}

.title {
    padding: 7px;
    color: gray;

    position: relative;
}

.info {
    cursor: default;
    margin-left: 5px;
}

.title > span {
    font-size: 13px;
    color: #c7c7bb;
}

.content {
    margin-top: 10px;
    padding: 0 5px;
}

.actions {
    position: absolute;
    right: 0;
    top: 0;
}

.action {
    outline: none;
    cursor: pointer;
    padding: 11px;
    display: inline-block;
    font-weight: normal;
}

.action:hover,
.active {
    font-weight: bold;
}
