<div class="grid-container full-grid">
    <div class="grid-x">
        <div class="cell medium-2">
            <div id="navigation">
                <div id="avatar">
                    <div><img [src]="avatarUrl"/></div>
                    <div>{{name}}</div>
                    <div class="lighter-color">${{amount}}</div>
                </div>
                <nav>
                    <div id="menu-title" class="lighter-color">Main</div>
                    <ul>
                        <li>
                            <a routerLink="/admin" routerLinkActive="router-active">
                                <i class="fa fa-home" aria-hidden="true"></i> Dashboard
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/boosts/boost/new" routerLinkActive="router-active">
                                <i class="fa fa-plus" aria-hidden="true"></i> Create Boost
                            </a>
                        </li>
                        <li>
                            <a routerLink="/admin/users/page/1" routerLinkActive="router-active">
                                <i class="fa fa-users" aria-hidden="true"></i> Users
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-user-cog"></i> Bot Settings
                        </li>
                        <li>
                            <i class="fa fa-bath" aria-hidden="true"></i> Make Hulk Green
                        </li>
                        <li>
                            <i class="fa fa-briefcase" aria-hidden="true"></i> Philip Work
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="cell medium-10" style="padding-right: 20px;">
            <div id="top-bar">
                <div id="search">

                </div>
                <div id="settings">
                    <span tooltip="Settings" tooltip-position="bottom">
                        <i class="fas fa-user-cog"></i>
                    </span>
                    <span tooltip="Logout" tooltip-position="bottom">
                        <i (click)="onLogout()" class="fas fa-sign-out-alt"></i>
                    </span>
                </div>
            </div>
            <div id="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
