<div class="grid-x grid-margin-x">
    <div class="cell small-12">
        <app-content header="Battle Net Connection">
        </app-content>
    </div>
    <div class="cell small-12">
        <app-content header="Connect your account">
            You haven't connected your battle.net account, this limits the usage on the site for you until you connect
            it.
            Click the battle.net button below to start connecting your account.
            <br/>
            <button (click)="onClick()" class="button-blue">Cba fixing good button atm</button>
        </app-content>
    </div>
</div>
