<div class="grid-x grid-margin-x">
    <div class="cell small-12">
        <app-content header="Characters">
        </app-content>
    </div>
    <div class="cell small-12 large-3" *ngFor="let character of context.characters">
        <app-content [header]="character.name">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 large-4">
                    <img [src]="character.inset" alt="Character inset">
                </div>
                <div class="cell small-12 large-8">
                    <strong>Class:</strong> {{character.class}} <br/>
                    <strong>Faction:</strong> {{character.faction}} <br/>
                </div>
            </div>
        </app-content>
    </div>
</div>
