<div class="grid-x grid-margin-x">
    <div class="cell small-12">
        <app-content header="Characters">
        </app-content>
    </div>
    <div class="cell small-12 large-4" *ngFor="let character of context.characters">
        <app-content>
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 large-4">
                    <img [src]="character.inset" alt="Character inset">
                </div>
                <div class="cell small-12 large-4">
                    <strong>Character:</strong> <br/>
                    <strong>Name:</strong> {{character.name}} <br/>
                    <strong>Class:</strong> {{character.class}} <br/>
                    <strong>Faction:</strong> {{character.faction}} <br/>
                </div>
                <div class="cell small-12 large-4">
                    <strong>Progress:</strong> <br/>
                    <strong>Raid
                        parse:</strong> {{character.raiding ? character.raiding.bestAverage + '%' : 'Processing...'}}
                    <br/>
                    <strong>M+:</strong> <span *ngIf="!character.mythicPlus">Processing...</span> <span
                    *ngIf="character.mythicPlus">{{character.mythicPlus.score}} {{character.mythicPlus.role}}</span>
                    <br/>
                </div>
            </div>
        </app-content>
    </div>
</div>
