/** General styles **/
@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Lobster;
    src: url('./assets/fonts/Lobster-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    overflow-x: hidden;
    background: #11191f;
}
